.listRow:hover {
  background-color: darkslategray;
}

.listRow.active {
  background-color: darkslateblue;
}

.listRow > td,
.listRowHead > th {
  padding: 3px;
  white-space: nowrap;
  min-width: 100px;
}

.listRowHead {
  background-color: darkred;
}
