.success {
  background-color: var(--color-text-success-dark);
}
.successHighlight {
  background-color: var(--color-text-success);
  color: var(--color-text-highlight);
  font-weight: bold;
}
.error {
  background-color: var(--color-text-error-dark);
}
.errorHighlight {
  background-color: var(--color-text-error);
  color: var(--color-text-highlight);
  font-weight: bold;
}

.cell {
  text-align: center;
  padding: var(--padding-small) var(--padding);
  white-space: nowrap;
  display: inline-block;
}

.head {
  color: var(--color-text-highlight);
  font-weight: bold;
}

#mainGrid {
  display: grid;
  width: 100dvw;
  height: 100dvh;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
}

.subGrid {
  grid-column: 2 / 6;
  grid-row: span 3;
  display: grid;
  grid-template-areas:
    "header header header sidebarRight"
    "sidebarLeft mainContant mainContant sidebarRight"
    "sidebarLeft footer footer sidebarRight";
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.resultsTable {
  grid-column: 1 / 3;
  display: grid;
  grid-row: span 8;
  grid-template-areas:
    "round round"
    "source target"
    "sourceKanji targetKanji"
    "sourceHiragana targetHiragana"
    "sourceRomaji targetRomaji"
    "sourceKatakana targetKatakana"
    "answer answer"
    "jisho jisho";
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

@media (min-width: 800px) {
  .resultsTable {
    grid-column: 1 / 7;
    grid-row: span 4;
    grid-template-areas:
      "round round round round round round"
      "source sourceKanji sourceHiragana sourceRomaji sourceKatakana answer"
      "target targetKanji targetHiragana targetRomaji targetKatakana answer"
      "jisho jisho jisho jisho jisho jisho";
  }
}

.round {
  grid-area: round;
}
.source {
  grid-area: source;
}
.sourceKanji {
  grid-area: sourceKanji;
}
.sourceHiragana {
  grid-area: sourceHiragana;
}
.sourceRomaji {
  grid-area: sourceRomaji;
}
.sourceKatakana {
  grid-area: sourceKatakana;
}
.answer {
  grid-area: answer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}
.target {
  grid-area: target;
}
.targetKanji {
  grid-area: targetKanji;
}
.targetHiragana {
  grid-area: targetHiragana;
}
.targetRomaji {
  grid-area: targetRomaji;
}
.targetKatakana {
  grid-area: targetKatakana;
}
.jisho {
  grid-area: jisho;
  text-align: center;
}
.jisho > a {
  &:hover {
    font-weight: bold;
  }
  color: var(--color-text-link);
  padding: 5px;
  display: inline-block;
  text-decoration: none;
}
