.hint {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.hint > a {
  &:hover {
    font-weight: bold;
  }
  color: var(--color-text-link);
  padding: 5px;
  display: inline-block;
  text-decoration: none;
}

@media (min-width: 800px) {
  .hint {
    display: flex;
    margin-bottom: var(--padding-small);
  }
}
