.headLine {
  color: var(--color-text-highlight);
  white-space: nowrap;
  font-size: 32px;
  text-shadow: #fff 0px 0px 15px, #ff682d 0px 0px 20px, #ff682d 0px 0px 30px,
    #ff682d 0px 0px 40px;
}

.homeContainer {
  height: var(--height-fullscreen);
  width: var(--width-fullscreen);
  background-color: black;
  display: grid;
  box-sizing: border-box;
}

.welcomeContainer {
  place-self: center;
  padding: var(--padding);
  gap: var(--padding-small);
  border: 2px solid var(--color-text-highlight);
  border-radius: var(--padding);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .homeContainer {
    width: var(--width-fullscreen);
  }
}
