div.rounds {
  display: flex;
  align-items: center;
  gap: var(--padding-small);
  justify-content: center;
}

input.rounds {
  font-size: 24px;
  height: 40px;
  width: 50%;
  background-color: var(--color-input-background);
  color: var(--color-text-highlight);
  border: none;
  text-align: center;
  border: 2px solid var(--color-button-border);
  border-radius: 5px;
}

label.rounds {
  font-size: 24px;
  color: var(--color-text-highlight);
}
