:root {
  --color-background: black;
  --color-text: #aaaaaa;
  --color-text-highlight: white;
  --color-text-error: #aa0000;
  --color-text-error-dark: #aa000090;
  --color-text-success: #00aa00;
  --color-text-success-dark: #00aa0090;
  --color-text-link: rgb(255, 137, 40);
  --color-main-button: rgb(18, 70, 167);
  --color-input-background: rgba(182, 69, 25, 0.342);
  --color-button-border: #ff5b20;
  --font-size-button: 2em;
  --font-size-input: 24px;
  --padding: 20px;
  --padding-small: 10px;
  --furigana-margin-bottom: 5px;
  --height-fullscreen: 100svh;
  --width-fullscreen: 100svw;
  --height-input: 40px;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Satoshi-Variable", Helvetica, sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

body div.Vue-Toastification__container {
  min-height: auto;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Variable.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
